.threads-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.threads-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}